body {
	width: 100vw;
	height: auto;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: #687783;
	font-size: 22px;
	line-height: 1.5;
	}
a[href] {
	text-decoration: none;
	}
a[href]:hover, a[href]:focus {
	color: darkslateblue;
	}
.wrapper	{
	overflow-x: hidden;
	}
.post {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-items: center;
	padding: 10px 20px;
	background-color: #15202b;
	color: #687783;
	/*max-width: 800px;*/
	/*min-height: 430px;*/
	user-select: none;
	margin: 50px auto;
	border-radius: 3px;
	overflow-x: hidden;
	/*margin: 10px;*/
	max-width: 700px;
	flex-basis: 700px;
	}
.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 98vw;
	/*padding-left: 10px ;*/
	}
img {
	max-width: 100%;
	}
.content {
	/*width: 100%;*/
	/*min-height: 305px;*/
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
	}
.author-avatar, .author .author-avatar img {
	width: 60px;
	height: 60px;
	}
.author img {
	border-radius: 50%;
	width: auto;
	}
.content img {
	border-radius: 20px;
	max-width: 89%;
	}
.author {
	display: flex;
	align-items: center;
	}
.author-title {
	padding-left: 15px;
	}
.icons {
	padding-left: 11%;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	max-width: 70%;
	}
p {
	margin: 0;
	color: #f4f5f5;
	/*color: #a9adb1;*/
	}
p:first-child {
	font-weight: 700;
	color: #f4f5f5;
	/*color: #dadcdd;*/
	}
span, a[href] {
	color: #687783;
	font-weight: 500;
	}
.svg {
	width: 24px;
	height: 24px;
	background-color: white;
	vertical-align: text-bottom;
	margin-right: 10px;
	margin-left: 3px;
	cursor: pointer;
	}
.svg:hover {
	fill:blueviolet;
	filter: invert(10%) sepia(30%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
	}
.dot {
	vertical-align: text-bottom;
	margin: 0 10px;
	}
.icons span {
	font-size: 18px;
	font-weight: 600;
	vertical-align: super;
	}
.icons img {
	margin-right: 15px;
	cursor: pointer;
	z-index: 10;
	}
.icons img:hover {
	z-index: -1;
	opacity: 0.5;
	}
.downArrow {
	cursor: pointer;
	}
.downArrow:hover {
	opacity: 0.5;
	}