.navbar {
	display: flex;
	flex-basis: auto;
	justify-content: space-evenly;
	border-bottom: 3px solid  #15202b;
	}
.navbar  a {
	color: darkslategray;
	border-radius: 10px;
	border: 3px solid #15202b;
	border-bottom: none ;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 2px 10px;
	margin: 5px 0 -1px;
	}
.navbar a:focus{
	background-color: #2d2a2a;
	color: white;
	}